<h1>Welcome to Runbrandt's world!</h1>
<h2>Join the world of making art while running.</h2>

<label for="myfile">Search for your next GPSart run here:</label>
<input type="input" id="kilometers" name="kilometers" placeholder="# of kilometers">
<input type="input" id="name" name="name" placeholder="Shape or name of run">
<input type="input" id="location" name="location" placeholder="location by city">
<button type="submit">Find my next run</button>
