
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/images/RunbrandtSayskyBlye.jpg" class="d-block w-100" alt="Runbrandt-Saysky">
    </div>
    <div class="carousel-item">
      <img src="/images/WolfGPS.png" class="d-block w-100" alt="Wolf-drawing-GPS">
    </div>
    <div class="carousel-item">
      <img src="/images/RunbrandtRJ.jpg" class="d-block w-100" alt="Runbrandt-runningjunkies">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon arrows" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon arrows" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div id="custom-work">
<h2>Custom work and guided runs with Runbrandt</h2>
<form action="/send-email" method="POST">
    <fieldset>
<label for="run-with-runbrandt">Select your request:</label>
<select id="run-options" name="run-options">
  <option value="guided">Book a personal guided run with Runbrandt.</option>
  <option value="custom">Enquire about a custom run shape</option>
  <option value="standard">Buy an existing piece of GPS ART to run yourself</option>
</select>
<legend>Your request and details:</legend>
<label for="clientname">Name:</label>
<input type="text" id="clientname" name="clientname" placeholder="your name"><br>
<label for="clientemail">Email:</label>
<input type="email" id="clientemail" name="clientemail" placeholder="your email"><br>
<label for="clientphone">Phonenumber:</label>
<input type="text" id="clientphone" name="clientphone" placeholder="your phonenumber"><br>
<textarea name="message" placeholder="Any extra information you believe is relevant" style="width:200px; height:300px; ">
</textarea>
<input class="btn btn-outline-success" type="submit" value="Submit">
</fieldset>
</form>
</div>
<div class="showcaseInstaRun">
        {{{instaFeed}}}
</div>
        <div>
               <div class="container">
                   <div class="row">
                    <div class="col-sm-12 section-title">
                        <h2 >Latest Projects by Runbrandt</h2>
                        <p>Schoen-run Challenge in samenwerking met Perry Sport.</p>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="card-deck">
                                <div class="card border-0">
                                  <img src="/images/Shoe-challenge.png" class="card-img-top" alt="GPS-challenge-Perry-Sport-Runbrandt">
                                  <div class="card-body">
                                    <p class="card-text">Afgelopen maandag was het zover, Runbrandt ging de uitdaging van Perry Sport aan en liep een GPS schoen!</p>
                                    <p class="card-text"><small class="text-muted">Last updated 1 day ago</small></p>
                                  </div>
                                </div>
                                <div class="card border-0">
                                  <img src="/images/LooppraatPodcast.png" class="card-img-top" alt="Looppraat-podcast">
                                  <div class="card-body">
                                    <p class="card-text">Wat een eer. Na veel met veel plezier meerdere Podcasts van Looppraat geluisterd te hebben, was ik nu zelf te gast!</p>
                                    <p class="card-text"><small class="text-muted">Last updated 1 months ago</small></p>
                                  </div>
                                </div>
                              </div>
                    </div>
                   </div>
                   
               </div>
           </div>
