<form action="/admin/instaposts" method='post'>
    <input type="text" name='postId' placeholder='post id'>  
    <button type="submit">Upload instapost to database</button>
</form>

<p>Select the posts you want to display on your landing page below</p>
