<form action='/auth/login' method='post'>
    <input type='text' name='username' placeholder='username'>
    <input type='text' name='password' placeholder='password'> 
    <button type='submit'>Let's go and plan a run!</button>
</form>
{{#if errorMessage}}
<p>{{errorMessage}}</p>
{{/if}}