<form action='/auth/signup' method='post'>
    <input type='text' name='username' placeholder='username'>
    <input type='text' name='password' placeholder='password'> 
    <button type='submit'>Ready to run? Sign up here!</button>
</form>