
.my-nav-bar a {
  color: #293241
}
.runbrandt-logo {
  height: 10%;
  width: 10%;
}

#custom-work {
  padding: 0 10px;
}

#custom-work label {
  display: block;
  margin-top: 20px;
}
textarea {
  margin-top: 20px;
}

h1 {
  display: block;
  color: #293241;
}

h2 {
  color: #3d5a80;
}

img {
  width: 50%;
  height: 50%;
}

button {
  color: #EE6C4D;
  background-color: #293241;
}

.services-section {
  background-color: #3D5A80
}